Services/CurrencyExchange/Proxies/CurrencyExchangeServiceReferenceProxy/Service References/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Fabrikam.com" elementFormDefault="qualified" targetNamespace="http://Fabrikam.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Buy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currency" type="tns:Currencies" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Currencies">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Dollar" />
      <xs:enumeration value="Euro" />
      <xs:enumeration value="Yen" />
      <xs:enumeration value="Pound" />
      <xs:enumeration value="Dinar" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Currencies" nillable="true" type="tns:Currencies" />
  <xs:element name="BuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currency" type="tns:Currencies" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SellResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>