Services/CurrencyExchange/Proxies/CurrencyExchangeServiceReferenceProxy/Service References/ServiceReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Fabrikam.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Fabrikam.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Fabrikam.com/Imports">
      <xsd:import schemaLocation="http://localhost:5002/?xsd=xsd0" namespace="http://Fabrikam.com" />
      <xsd:import schemaLocation="http://localhost:5002/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExchangeService_Buy_InputMessage">
    <wsdl:part name="parameters" element="tns:Buy" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_Buy_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_Sell_InputMessage">
    <wsdl:part name="parameters" element="tns:Sell" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_Sell_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellResponse" />
  </wsdl:message>
  <wsdl:portType name="IExchangeService">
    <wsdl:operation name="Buy">
      <wsdl:input wsaw:Action="http://Fabrikam.com/IExchangeService/Buy" message="tns:IExchangeService_Buy_InputMessage" />
      <wsdl:output wsaw:Action="http://Fabrikam.com/IExchangeService/BuyResponse" message="tns:IExchangeService_Buy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sell">
      <wsdl:input wsaw:Action="http://Fabrikam.com/IExchangeService/Sell" message="tns:IExchangeService_Sell_InputMessage" />
      <wsdl:output wsaw:Action="http://Fabrikam.com/IExchangeService/SellResponse" message="tns:IExchangeService_Sell_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>